<?xml version="1.0" encoding="UTF-8"?>
<learningSummary id="stubbed-template-id" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:fontoxml:names:tc:dita:spec:learning:xsd:learningSummary.xsd:1.3">
	<title><?fontoxml-text-placeholder text="Learning summary title" ?></title>
	<learningSummarybody>
		<section><p><?fontoxml-text-placeholder text="Type your content" ?></p></section>
	</learningSummarybody>
</learningSummary>
