<?xml version="1.0" encoding="UTF-8"?>
<reference id="stubbed-template-id" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:fontoxml:names:tc:dita:xsd:reference.xsd:1.3">
	<title><?fontoxml-text-placeholder text="Type the reference title" ?></title>
	<refbody>
		<section><p><?fontoxml-text-placeholder text="Type the content" ?></p></section>
	</refbody>
</reference>
