!.gitkeep

# Development dependencies
/node_modules/

# Directories used for building the application
/dist/
/tmp/

# Save directory for the development server
/dev-cms/uploads/*

# Configuration packages that are installed through another package manager such as bower
/packages-shared/

# Fonto's proprietary files
# It is recommended that you commit these files to your version control. To this end, please remove the following line
# from this file:
/platform/